@media all and (max-height: 40em) {
  .nav-logo {
    display: none;
  }
}

@media all and (max-height: 35em) {
  .error-img {
    display: none;
  }
}

.error-img {
  position: relative;
  top: 25%;
}

.error-img img {
  height: 300px;
}

.error-button {
  position: relative;
  margin-top: 10px;
  top: 25%;
}

.nav-logo {
  position: absolute;
  transform: rotate(-90deg);
  height: 40px;
  bottom: 130px;
  left: -30px;
}

.profile-modal .ant-modal-header {
  display: flex;
  align-items: center;
  height: 70px;
}

.profile-modal .ant-modal-header .ant-modal-title {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1.2px;
}

.findpw-label,
.profile-label {
  text-align: left;
  padding-top: 4px;
  height: 32px;
  color: grey;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
}

#root {
  background-color: rgb(8, 21, 38);
  border: 0.1px solid rgb(8, 21, 38);
  height: 100%;
  color: rgba(255, 255, 255, 0.65);
}
