@media all and (max-height: 40em) {
  .nav-logo {
    display: none;
  }
}

.nav-logo {
  position: absolute;
  transform: rotate(-90deg);
  height: 40px;
  bottom: 130px;
  left: -30px;
}

html,
body {
  background-color: #0f1727;
}

#root {
  background-color: #0f1727;
  color: rgba(255, 255, 255, 0.65);
}
