@media all and (max-height: 40em) {
  .nav-logo {
    display: none;
  }
}

.nav-logo {
  position: absolute;
  transform: rotate(-90deg);
  height: 40px;
  bottom: 130px;
  left: -30px;
}

#root {
  background-color: rgb(8, 21, 38);
  border: 0.1px solid rgb(8, 21, 38);
  height: 100%;
  color: rgba(255, 255, 255, 0.65);
}
