.bgGuest {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  padding-left: 400px;
  background: no-repeat url("./ci.png");
  background-size: 350px auto;
  background-position: left calc(50% - 5px);
}
.welcomeRight {
  height: 100%;
  padding-left: 100px;
  margin: 0 50px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.form-signin .txtWarning {
  color: rgba(18, 197, 137, 0.5);
}
.findpw-input,
.form-signin input {
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  margin-bottom: 15px;
  outline-color: #4a8a7c;
}
.ant-input:focus {
  border-color: #4a8a7c;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(87, 168, 233, 0.2);
  box-shadow: 0 0 0 2px rgba(87, 168, 233, 0.2);
}
.btnSign {
  width: 100%;
  margin: 10px 0;
  background-color: #4a8a7c;
  border-color: #4a8a7c;
}
.btnSign:hover,
.btnSign.focus,
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #056d5d;
  border-color: #056d5d;
}
.linkTo {
  position: relative;
  margin-top: 15px;
  font-size: 1.2em;
}
.linkTo a,
.linkTo a:hover,
.linkTo a:visited {
  color: rgba(255, 255, 255, 0.7);
}
.form-signin .ant-input-prefix {
  display: -ms-flexbox;
  display: flex;
  top: 38%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ant-btn-background-ghost {
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.social .ant-btn-sm {
  padding: 0 10px;
  color: rgba(217, 247, 190, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.findpw-modal .ant-carousel .slick-slide {
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 20px;
  height: 400px;
  line-height: 50px;
  background: rgb(35, 40, 60);
  overflow: hidden;
}

.findpw-modal .ant-modal-content {
  background-color: rgb(35, 40, 60);
  border-radius: 5px;
}

.findpw-modal .ant-modal-footer {
  border: 0;
  padding: 0 20px 20px 20px;
}

.findpw-modal .ant-modal-footer button {
  border-radius: 2px;
  background-color: rgb(25, 30, 45);
  border: 0.5px solid rgb(70, 70, 70);
  color: rgb(220, 220, 220);
  font-weight: 100;
}

.findpw-modal .ant-modal-footer .ant-btn-primary {
  border: 0.5px solid rgb(65, 70, 120);
}

.email-sent {
  text-align: center;
}

.email-sent h1 {
  position: absolute;
  font-size: 40px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.email-sent h3 {
  position: absolute;
  font-weight: 100;
  color: white;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}
